<?xml version="1.0" encoding="utf-8" ?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Test">
  <ItemGroup>
    <BuildArtifactsDir Include="BuildArtifacts\" />
    <SolutionFile Include="MS.sln" />
  </ItemGroup>

  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Release</Configuration>
    <BuildPlatform Condition=" '$(BuildPlatform)' == '' ">Any CPU</BuildPlatform>
  </PropertyGroup>

  <Target Name="Init" DependsOnTargets="Clean">
    <MakeDir Directories="@(BuildArtifactsDir)" />
  </Target>

  <Target Name="Clean">
    <RemoveDir Directories="@(BuildArtifactsDir)" />
  </Target>

  <Target Name="Compile" DependsOnTargets="Init">
    <MSBuild Projects="@(SolutionFile)" Targets="Rebuild"
             Properties="OutDir=%(BuildArtifactsDir.FullPath);Configuration=$(Configuration);Platform=$(BuildPlatform)" />
  </Target>

  <!--<Target Name="Test" DependsOnTargets="Compile">
    <PropertyGroup>
      <TestSuccess>1</TestSuccess>
    </PropertyGroup>
    <Exec Command='"C:\Program Files\Microsoft Visual Studio 10.0\Common7\IDE\MSTest.exe"  "/testcontainer:@(BuildArtifactsDir)\UnitTestProject1.dll"' >
      <Output TaskParameter="ExitCode" PropertyName="TestSuccess"/>
    </Exec>
  </Target>-->
</Project>